.mainMenu {
  font-weight: 500 !important;
  border-width: 0px !important;
}

.mainMenu:global(.ant-menu-inline) {
  padding: 0 13px !important;
}

.mainMenu :global(.ant-menu-item) {
  margin: 0 !important;
  border-radius: 6px !important;
  padding: 12px !important;
  height: 48px !important;
  font-size: 16px;
  color: #183348 !important;
}

.mainMenu :global(.ant-menu-item.ant-menu-item-selected) {
  background-color: #cfd4d8 !important;
  color: #36464e !important;
}

.mainMenu :global(.ant-menu-item .anticon) {
  color: #546d78 !important;
  font-size: 18px !important;
}

.mainMenu :global(.ant-menu-item .ant-menu-title-content) {
  margin-left: 12px !important;
  margin-bottom: -3px !important;
}
