/* ----- Form ----- */
.ant-form-item .ant-form-item-label > label {
  color: #626c90;
  font-weight: 500;
  flex-direction: row-reverse;
}

.ant-form-item .ant-form-item-label > label.ant-form-item-required::before {
  color: #626c90;
  margin-left: 1px;
  font-weight: 500;
}
.ant-form-item .ant-form-item-label > label::after {
  display: none !important;
}

/* ----- RADIO ----- */
.ant-radio-group-outline .ant-radio .ant-radio-inner {
  border: 2px solid #e7e7e7;
  width: 24px;
  height: 24px;
}

.ant-radio-group-outline .ant-radio.ant-radio-checked .ant-radio-inner {
  background-color: #808182;
  border: 0px;
}
.ant-radio-group-outline .ant-radio.ant-radio-checked .ant-radio-inner::after {
  transform: scale(0.5);
}

/* ----- SWITCH ----- */
.ant-switch {
  height: 24px !important;
}

.ant-switch .ant-switch-inner {
  background-color: #808182;
  height: 24px !important;
}
.ant-switch .ant-switch-handle {
  height: 16px;
  width: 16px;
  border-radius: 99999;
  margin-top: 2px;
  margin-left: 1px;
}

/* ----- TABLE ----- */
.ant-table-wrapper .ant-table .ant-table-container {
  border-radius: 0px;
}

.ant-table-wrapper
  .ant-table
  .ant-table-container
  .ant-table-thead
  .ant-table-cell {
  background-color: white;
  color: #36464e;
  font-weight: 500;
  font-size: 12px;
  padding: 8.5px 16px;
}

.ant-table-wrapper
  .ant-table
  .ant-table-container
  .ant-table-tbody
  .ant-table-row
  > td {
  background-color: white;
  padding: 6px 16px;
}

.ant-table-wrapper div.ant-table {
  scrollbar-color: rgba(0,0,0,0.1) rgba(182, 181, 181, 0.05);

}