.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.block {
  display: block;
}

.block {
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  border: 1px solid #eaecf0;
  box-shadow: 0px 1px 2px 0px #1018280f;
  box-shadow: 0px 1px 3px 0px #1018281a;
}

.block-heading {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}
