@import "./theme.css";
@import "./scrollbar.css";
@import "./custom.css";
@import "./font.css";
@import "./antd.css";

@import "tailwindcss";

:root {
  font-size: 14px;
  letter-spacing: 0.1px;
  -webkit-font-smoothing: antialiased;
}