@tailwind base;

@layer base {
    * {
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    body {
        @apply bg-background;
    }

    button:focus {
        @apply outline-none;
    }

    input:focus {
        @apply outline-none;
    }

    /* nta creator below */
    [type='search']:focus {
        box-shadow: none;
    }
}
