@tailwind utilities;

@layer utilities {
    .in-slow {
        transition-timing-function: cubic-bezier(0.51, 0.13, 0, 1.07);
    }

    .elevation-sm {
        box-shadow: 0 1px 1.1px 0 rgba(0, 0, 0, 0.22);
    }

    .elevation-xs {
        box-shadow: 0 0.8px 1px 0 rgba(0, 0, 0, 0.1);
    }

    .swiper-free-size {
        width: auto;
        height: auto;
    }

    .line-clamp-2 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    /* nta creator below */

    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
